@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo */
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-ExtraBold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-UltraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MonoSans";
  src: url("../assets/fonts/mona-sans/TTF/Mona-Sans-UltraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
